/* box */

.container {
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
  width: 960px;
}

/* typography */

h1,
h3,
h4,
h5,
p {
  margin-bottom: 22px;
}

/* buttons */

.btn {
  border-radius: 5px;
  display: inline-block;
  margin: 0;
}

.btn-alt {
  border: 1px solid #dfe2e5;
  padding: 10px 30px;
}

/* Home */

.hero {
  padding: 22px 80px 60px 80px;
}
